@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-family-karla {
    font-family: Karla, system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

.bg-sidebar {
    background: #f9a8d4; 
}

.cta-btn {
    color: #ec4899; 
}

.upgrade-btn {
    background: #f472b6;
}

.upgrade-btn:hover {
    background: #ec4899;
}

.active-nav-link {
    background: #db2777; 
}

.nav-item:hover {
    background: #f472b6; 
}

.account-link:hover {
    background: #f9a8d4;
}